h4::before {
    content: normal;
}

h5::before {
    content: "◼ ";
}

pre.c_code
{
    background-color: #ffffff;
}

pre.shell, pre.shell_small
{
    background-color: #ffffff;
}

pre.d_code {
    background-color: #ffffff;
}

h4 > code {
    color:white;
    background-color:black;
}

a.index_word {
    text-decoration: none;
}

pre.d_code, pre.c_code, div.quote, pre.mono, pre.mono_nobold
{
  border-top: dotted 1px #808080;
  border-bottom: dotted 1px #808080;
}

pre.shell, pre.shell_small
{
  border-top: dotted 1px #808080;
  border-bottom: dotted 1px #808080;
}

pre::before, pre::after {
  border: none;
  width: 0;
}

div.frontispiece {
    display: none;
}

div.halftitle {
    display: none;
}

.foreword, .preface {
  page-break-before: initial;
}

div.toc_header, div.foreword, div.preface, div.frontmatter, div.first_chapter, div.index {
  page-break-before: initial;
}

.title {
  page-break-before: initial;
}

div.toc {
  page-break-before: initial;
}

div.index_section {
  margin: initial;
}

.d_inline, .d_inline_h4 {
        font-size: 1em;
}

pre.shell, pre.shell_small {
        font-size: 1em;
}

pre.d_code, pre.c_code, div.quote, pre.mono, pre.mono_nobold {
         font-size: 1em;
}

table, tbody, tfoot, thead, tr, th, td, caption {
         font-size: 1em;
}

.d_keyword {
  font-weight: normal;
}

.hilite {
  border: 1px solid #808080;
}

.d_hata {
  border: 1px solid #808080;
}

.shell_note {
  border: 1px solid #808080;
  font-style: normal;
}

.shell_note_wrong, .code_note_wrong {
  border: 1px solid #808080;
  font-style: normal;
}
